<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{4083,0},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4083,80},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow10.png</key>
			<dict>
				<key>frame</key>
				<string>{{4083,160},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4083,240},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4083,320},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow4.png</key>
			<dict>
				<key>frame</key>
				<string>{{4083,400},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow5.png</key>
			<dict>
				<key>frame</key>
				<string>{{4083,480},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3581,472},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3581,552},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow8.png</key>
			<dict>
				<key>frame</key>
				<string>{{4046,483},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>arrow9.png</key>
			<dict>
				<key>frame</key>
				<string>{{4059,483},{80,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,13}</string>
			</dict>
			<key>Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{3707,555},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>pausebackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{960,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,640}</string>
			</dict>
			<key>Zombie1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3764,555},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Zombie2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3821,555},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Zombie3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3878,555},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Zombie4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3935,555},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>SkullBarMain.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{960,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,640}</string>
			</dict>
			<key>bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,0},{960,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,640}</string>
			</dict>
			<key>End.png</key>
			<dict>
				<key>frame</key>
				<string>{{2880,0},{718,472}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{718,472}</string>
			</dict>
			<key>pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{3598,0},{483,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{483,485}</string>
			</dict>
			<key>again.png</key>
			<dict>
				<key>frame</key>
				<string>{{3468,472},{113,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,72}</string>
			</dict>
			<key>againOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3468,544},{113,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,72}</string>
			</dict>
			<key>exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{3594,483},{113,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,72}</string>
			</dict>
			<key>exitOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2880,472},{147,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,88}</string>
			</dict>
			<key>menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{3707,483},{113,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,72}</string>
			</dict>
			<key>menuOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3027,472},{147,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,88}</string>
			</dict>
			<key>next.png</key>
			<dict>
				<key>frame</key>
				<string>{{3820,483},{113,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,72}</string>
			</dict>
			<key>nextOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3174,472},{147,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,88}</string>
			</dict>
			<key>Play.png</key>
			<dict>
				<key>frame</key>
				<string>{{3933,483},{113,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,72}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{3594,555},{113,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,72}</string>
			</dict>
			<key>continueOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3321,472},{147,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pictures.png</string>
			<key>realTextureFileName</key>
			<string>Pictures.png</string>
			<key>size</key>
			<string>{4096,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>